@import 'constants';

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    &--grey {
        background-color: $color-grey;
    }
    
    &--red {
        background-color: $color-red;
    }

    &--orange {
        background-color: $color-orange;
    }

    &--purple {
        background-color: $color-purple;
    }

    &--green {
        background-color: $color-green;
    }
}

/* Navigation menu styles */
.nav {
    display: inline-block;
    position: relative;
    height: 54px;

    &__toggle-menu[open] &__icon-container::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        cursor: default;
    }

    &__icon-container {
        cursor: pointer;
        list-style: none;
    }

    &__icon {
        width: 50px;
    }

    &__list {
        list-style: none;
        position: absolute;
        width: 280px;
    }

    &__item {
        padding: 20px;
        margin: 2px;
        cursor: pointer;
        border: 1px solid $color-black;

        &--grey {
            background-color: $color-grey;
        }

        &--red {
            background-color: $color-red;
        }

        &--orange {
            background-color: $color-orange;
        }

        &--purple {
            background-color: $color-purple;
        }

        &--green {
            background-color: $color-green;
        }
    }

    &__link {
        color: $color-black;
        text-decoration: none;
    }
}